---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import HamburgerMenu from "../components/common/HamburgerMenu.astro";
import type { LinkType } from "../types/types";
import "../styles/style.css";

const links: LinkType[] = [
  { href: "/#about", label: "ABOUT" },
  { href: "/blogs/", label: "BLOG" },
  { href: "/contact/", label: "CONTACT" },
];

export interface Props {
  title?: string;
  description?: string;
  wrapperClass?: string;
  ogType?: string;
}

const {
  title,
  description = "This is Arimura Ryoma's portfolio site",
  wrapperClass,
  ogType = "article",
} = Astro.props;
---

<!DOCTYPE html>
<html
  lang="ja"
  class="invisible text-[62.5%] antialiased [scroll-behavior:smooth] [&.loading-delay]:visible [&.wf-active]:visible"
>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <link
    rel="canonical"
    href={"https://arimura-ryoma.com/" + Astro.url.pathname}
  />
  <meta name="description" content={description} />
  <meta property="og:site_name" content="Arimura Ryoma Portfolio Site" />
  <meta property="og:type" content={ogType} />
  <meta property="og:url" content={Astro.url.href} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta name="twitter:card" content="summary_large_image" />
  <script>
    (function (d) {
      var config = {
          kitId: "ony8ltb",
          scriptTimeout: 3000,
          async: true,
        },
        h = d.documentElement,
        t = setTimeout(function () {
          h.className =
            h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout),
        tk = d.createElement("script"),
        f = false,
        s = d.getElementsByTagName("script")[0],
        a;
      h.className += " wf-loading";
      tk.src = "https://use.typekit.net/" + config.kitId + ".js";
      tk.async = true;
      tk.onload = tk.onratechange = function () {
        //@ts-ignore
        a = this.readyState;
        if (f || (a && a != "complete" && a != "loaded")) return;
        f = true;
        clearTimeout(t);
        try {
          //@ts-ignore
          Typekit.load(config);
        } catch (e) {}
      };
      //@ts-ignore
      s.parentNode.insertBefore(tk, s);
    })(document);
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;900&display=swap"
    rel="stylesheet"
  />

  <body
    class={wrapperClass +
      " [&.is-spMenuOpened]:overflow-hidden text-[1.6rem] text-[5b5c5c] bg-no-repeat"}
  >
    <Header links={links} />
    <HamburgerMenu links={links} path={Astro.url.pathname} />
    <slot />
    <Footer links={links} />

    <script>
      // 3秒経ってもWebフォントがロードできない場合にloading-delayクラスを追加してページを表示させる
      // 参照元：https://michimani.net/post/development-remove-web-fonts-fout/

      const htmlElement = document.getElementsByTagName(
        "html"
      )[0] as HTMLElement;
      setTimeout(() => {
        if (!htmlElement.classList.contains("wf-active")) {
          htmlElement.classList.add("loading-delay");
        }
      }, 3000);
    </script>
  </body>
</html>
