---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import type { LinkType } from "../types/types";
import "../styles/style.css";

const links: LinkType[] = [
  { href: "/#about", label: "ABOUT" },
  { href: "/blogs/", label: "BLOG" },
  { href: "/recruit/", label: "CONTACT" },
];

export interface Props {
  title?: string;
  description?: string;
  wrapperClass?: string;
  ogType?: string;
}

const {
  title,
  description = "",
  wrapperClass,
  ogType = "article",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="text-[62.5%] antialiased">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.11.0/css/all.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  ></script>
  <body
    class={wrapperClass +
      " [&.is-spMenuOpened]:overflow-hidden text-[1.6rem] text-[5b5c5c] bg-no-repeat"}
  >
    <Header links={links} />
    <!-- <HamburgerMenu links={links} path={Astro.url.pathname} /> -->
    <slot />
    <Footer links={links} />

    <!-- <script>
    // 3秒経ってもWebフォントがロードできない場合にloading-delayクラスを追加してページを表示させる
    // 参照元：https://michimani.net/post/development-remove-web-fonts-fout/

    const htmlElement = document.getElementsByTagName("html")[0] as HTMLElement;
    setTimeout(() => {
      if (!htmlElement.classList.contains("wf-active")) {
        htmlElement.classList.add("loading-delay");
      }
    }, 3000);
  </script> -->

    <!-- <script>
    //一定量スクロールされたらis-scrolledクラスを付与
    const bodyElement = document.querySelector("body") as HTMLElement;
    window.addEventListener("scroll", () => {
      if (window.pageYOffset > 100) {
        bodyElement.classList.add("is-scrolled");
      } else {
        bodyElement.classList.remove("is-scrolled");
      }
    });
  </script> -->
  </body>
</html>
